body {
	background-color:black;
	font-family: "Open Sans", sans-serif;
 	margin: 0;
}


/* high level */
a {
  color: white;
  text-decoration: none;
}

.active {
  background-color: rgba(200,200,200,.6);
}


/* NAVIGATION BAR */
header {
  border-bottom: thick solid gold;
  background-color: #000000;
  overflow: hidden;
}

.navlogo {
  float: left;
  color: gold;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  margin-left: 20px;
  overflow: hidden;

}

ul.navlist {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

ul.navlist li {
  display: inline;
  float: left;
} 

ul.navlist li a {
  display: inline;
  padding: 10px;
}

ul.navlist li a:hover {
  color: gold;
}

ul.navlist li em {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
}

/* PAGE */ 
h1, h2, p {
	color: gold;
	text-align: center;
}